form {
    border-radius: 5px;
}

table, td, form {
    border: 1px solid black;
}

td {
    padding: 10px;
}

.table-data {
    height: 50px;
}


a {
    text-decoration: none;
}

a:visited, a {
    color: black;
}

input[type=number] {
    width: 70px;
    text-align: center;
}

input[type=submit] {
    padding: 0px 20px;
}

form {
    width: 400px;
    padding: 30px;
}
