<!DOCTYPE html>
<html>
    <head>
        <title>Super Sprinter 3000</title>
        <link rel="stylesheet" href="/static/css/style.css" style type="text/css">
    </head>
    <body>
        <h3><strong>User Story Manager</strong></h3>
        <button><a href="/story">Add new story</a></button>
        <p></p>
        {% if stories %}
            <table>
                <tr>
                    {% for item in table_header %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
                {% for line in stories %}
                    <tr>
                    {% for data in line %}
                        <td>{{ data }}</td>
                    {% endfor %}
                    <td>
                        <button><a href="/story/{{ line[0] }}">&#9998</a></button>
                        <button><a href="/list" name="{{ line[0] }}">&#128465</button>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </body>
</html>