<!DOCTYPE html>
<html>
    <head>
        {% if not story_id %}
            <title>Super Sprinter 3000 - Add New Story</title>
        {% else %}
            <title>Super Sprinter 3000 - Edit Story</title>
        {% endif %}
        <link rel="stylesheet" href="/static/css/style.css" style type="text/css">
    </head>
    <body>
        {% if not story_id %}
            <h3>User Story Manager - Add New Story</h3>
            <form action="/list" method="POST">
                <label>Story Title<br>
                    <input type="text" size="31" name="story_title">
                </label><br><br>
                <label>User Story<br>
                    <textarea rows="5" cols="30" name="user_story"></textarea>
                </label><br><br>
                <label>Acceptance Criteria<br>
                    <textarea rows="5" cols="30" name="acc_criteria"></textarea>
                </label><br><br>
                <label>Business Value<br>
                    <input type="number" min="100" max="1500" step="100" name="business_value">
                </label><br><br>
                <label>Estimation (h)<br>
                    <input type="number" min="0.5" max="41" step="0.5" name="estimation">
                </label><br><br>
                <label>Status<br>
                    <select name="status">
                        <option value="planning">Planning</option>
                        <option value="todo">TODO</option>
                        <option value="in progress">In Progress</option>
                        <option value="review">Review</option>
                        <option value="done">Done</option>
                    </select>
                </label><br><br>
                <input type="submit" value="Submit">
            </form>
        {% else %}
            <h3>User Story Manager - Edit Story #{{ story_id }}</h3>
            <form action="/list" method="POST">
                <label>Story Title<br>
                    <input type="text" size="31" name="story_title" value="{{ editing[1] }}">
                </label><br><br>
                <label>User Story<br>
                    <textarea rows="5" cols="30" name="user_story">{{ editing[2] }}</textarea>
                </label><br><br>
                <label>Acceptance Criteria<br>
                    <textarea rows="5" cols="30" name="acc_criteria">{{ editing[3] }}</textarea>
                </label><br><br>
                <label>Business Value<br>
                    <input type="number" min="100" max="1500" step="100" name="business_value" value="{{ editing[4] }}">
                </label><br><br>
                <label>Estimation (h)<br>
                    <input type="number" min="0.5" max="41" step="0.5" name="estimation" value="{{ editing[5] }}">
                </label><br><br>
                <label>Status<br>
                    <select name="status">
                        <option value="planning">Planning</option>
                        <option value="todo">TODO</option>
                        <option value="in progress">In Progress</option>
                        <option value="review">Review</option>
                        <option value="done">Done</option>
                    </select>
                </label><br><br>
                <input type="submit" value="Save changes">
            </form>
        {% endif %}
        <button><a href="/">Back</a></button>
    </body>
</html>