<!DOCTYPE html>
<html>
    <head>
        {% if not story_id %}
            <title>Super Sprinter 3000 - Add New Story</title>
        {% else %}
            <title>Super Sprinter 3000 - Edit Story</title>
        {% endif %}
        <link rel="stylesheet" href="/static/css/style.css" style type="text/css">
    </head>
    <body>
        {% if not story_id %}
            <h3>User Story Manager - Add New Story</h3>
        {% else %}
            <h3>User Story Manager - Edit Story #{{ story_id }}</h3>
        {% endif %}
        <form action="/list" method="POST">
            <input type="hidden" name="story_id" value="{{ story_id }}">
            <label>Story Title<br>
                <input type="text" size="31" name="story_title" value="{{ editing[1] if editing else '' }}">
            </label><br><br>
            <label>User Story<br>
                <textarea rows="5" cols="30" name="user_story">{{ editing[2] if editing else '' }}</textarea>
            </label><br><br>
            <label>Acceptance Criteria<br>
                <textarea rows="5" cols="30" name="acc_criteria">{{ editing[3] if editing else ''}}</textarea>
            </label><br><br>
            <label>Business Value<br>
                <input type="number" min="100" max="1500" step="100" name="business_value" value="{{ editing[4] if editing else ''}}">
            </label><br><br>
            <label>Estimation (h)<br>
                <input type="number" min="0.5" max="41" step="0.5" name="estimation" value="{{ editing[5] if editing else ''}}">
            </label><br><br>


            <label>Status<br>
                <select name="status">
                    <option value="Planning" {{ 'selected' if editing[6] == "Planning" else "" }}>Planning</option>
                    <option value="TODO" {{ 'selected' if editing[6] == "TODO" else "" }}>TODO</option>
                    <option value="In Progress" {{ 'selected' if editing[6] == "In Progress" else "" }}>In Progress</option>
                    <option value="Review" {{ 'selected' if editing[6] == "Review" else "" }}>Review</option>
                    <option value="Done" {{ 'selected' if editing[6] == "Done" else "" }}>Done</option>
                </select>
            </label><br><br>
            <input type="submit" value="{{ 'Create' if not story_id else 'Update' }}">
        </form>
        <p><button><a href="/">Back</a></button></p>
    </body>
</html>
